
/.data-utils-venv
/__pycache__
*.zip
/deprecated/
/web/deprecated/
/web/app/build/*


/source-data/*
!/source-data/0000571-250121130708018
!/source-data/archive/0000571-250121130708018.zip

/.gbif-data-profiler-venv/
/.aws
/.aws/
/.aws/*
/web/deprecated/
