<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>GBIF Data Profiler | Interactive Profiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="A collection of interactive dataset profiles of GBIF Occurrence Datasets" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='custom/css/lux-bootstrap.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.28.1/dist/tabler-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='custom/css/custom.css') }}">
</head>
<body id="page-top" >
    {% include 'includes/global/nav.html' %}
    <div class="wrapper container">
        <div class="row">
            <div class="col-md-2">
                <aside class="sidebar sidebar-expanded d-none d-md-block">
                    {% include 'includes/global/sidebar.html' %}
                </aside>
            </div>
            <main class="main main-content col-md-10">
                {% block main %}

                {% endblock %}
            </main>
        </div>
    </div>
    {% include 'includes/global/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='assets/plugins/bootstrap/js/bootstrap.bundle.js') }}" type="text/javascript"></script>
    <script>
        $('th.th-collapser').click(function(){
            $('th.th-collapser i').toggleClass('ti-chevron-up ti-chevron-down');
        });
        $('[data-toggle=sidebar-colapse]').click(function() {
            SidebarCollapse();
        });
    </script>
</body>
</html>